h1 {
  margin: 0;
  font-size: 10rem;
  font-weight: bold;
}

.accueil {
  text-align: center;
  /* pour fixer l'image en haut à gauche */
  position: fixed;
  top: 0;
  left: 0;
  /* Préserve le ratio de l'image et l'adapte à la taille de l'écran*/
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
}

.contenuAccueil {
  margin-top: 2rem;
}

.accueil img {
  max-width: 30rem;
}

.accueil h2 {
  margin-bottom: 3rem;
}

.bouton {
  width: 15rem;
  height: 6rem;

  border: 0.2rem solid rgb(144, 147, 163);
  background-color: #444751;
  border-radius: 2rem;
  box-shadow: 0 1rem 1rem 0 rgb(0, 0, 0, 0.3);
  background: linear-gradient(rgb(99, 99, 110), rgb(59, 61, 70));
  box-sizing: border-box;
}

.bouton p {
  margin: 0;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}






/* #141414 */