h1 {
  margin: 0;
  font-size: 10rem;
  font-weight: bold;
}

/* Styles de la page d'accueil */

.accueil {
  text-align: center;
  /* pour fixer l'image en haut à gauche */
  position: fixed;
  top: 0;
  left: 0;
  /* Préserve le ratio de l'image et l'adapte à la taille de l'écran*/
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
}

.contenuAccueil {
  margin-top: 2rem;
}

.accueil img {
  max-width: 30rem;
}

/* le fond blanc en dégradé elipsoidle sur l'image de la page d'accueil mode Light */
.accueil .imgLight {
  background: radial-gradient(ellipse farthest-corner, rgb(176, 218, 240), rgb(0, 0, 0, 0) 30%);
}

.accueil h2 {
  margin-bottom: 3rem;
}

/* styles des h1 et h2 de la page d'accueil mode Light */
.accueil .titreLight {
  color: #22211F;
  text-shadow: -0.5rem 0.5rem 1rem #22211F;
}

/* styles des h1 et h2 de la page d'accueil mode Dark */
.accueil .titreDark {
  color: white;
  text-shadow: -0.5rem 0.5rem 1rem #E0E0E0;
}

.bouton p {
  margin: 0;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}

/* Styles communs au bouton pour les 2 modes */
.bouton {
  width: 15rem;
  height: 6rem;
  border-radius: 2rem;
  box-sizing: border-box;
}

/* Styles du bouton pour le mode Light */
.boutonLight {
  color: black;
  border: 0.2rem solid rgb(144, 147, 163);
  box-shadow: 0 1rem 1rem 0 rgb(0, 0, 0, 0.3);
  background: linear-gradient(rgb(99, 99, 110), rgb(59, 61, 70));
}

/* Styles du bouton pour le mode Light lorsque l'on survole */
.boutonLight:hover {
  color: rgb(20, 20, 20);
  border: 0.4rem solid rgb(182, 184, 194);
  box-shadow: 0 1rem 1rem 0 rgb(0, 0, 0, 0.1);
  background: linear-gradient(rgb(119, 119, 130), rgb(79, 81, 90));
}

/* Styles du bouton pour le mode Dark */
.boutonDark {
  color: rgb(235, 235, 235);
  border: 0.2rem solid rgb(208, 208, 211);
  box-shadow: 0 0.8rem 1rem 0 rgb(255, 255, 255, 0.4);
  background: linear-gradient(rgb(179, 179, 179), rgb(70, 70, 70));
}

.boutonDark:hover {
  color: white;
  border: 0.4rem solid rgb(228, 228, 231);
  box-shadow: 0 0.4rem 1rem 0 rgb(255, 255, 255, 0.3);
  background: linear-gradient(rgb(199, 199, 199), rgb(90, 90, 90));
}

/* Styles du texte du bouton communs aux 2 modes lorsque l'on survole */
.bouton:hover p {
  font-weight: normal;
  font-size: 1.9rem;
}