h1 {
  margin: 0;
  font-size: 10rem;
  font-weight: bold;
}

p {
  margin: 0;
}


/* Styles de la page d'accueil */


.accueil {
  text-align: center;
  /* pour fixer l'image en haut à gauche */
  position: fixed;
  top: 0;
  left: 0;
  /* Préserve le ratio de l'image et l'adapte à la taille de l'écran*/
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
}

.contenuAccueil {
  margin-top: 2rem;
}

.accueil img {
  max-width: 30rem;
}

/* le fond blanc en dégradé elipsoidle sur l'image de la page d'accueil mode Light */
.accueil .imgLight {
  background: radial-gradient(ellipse farthest-corner, rgb(176, 218, 240), rgb(0, 0, 0, 0) 30%);
}

.accueil h2 {
  margin-bottom: 3rem;
}

/* styles des h1 et h2 de la page d'accueil mode Light */
.accueil .titreLight {
  color: #22211F;
  text-shadow: -0.5rem 0.5rem 1rem #22211F;
}

/* styles des h1 et h2 de la page d'accueil mode Dark */
.accueil .titreDark {
  color: white;
  text-shadow: -0.5rem 0.5rem 1rem #E0E0E0;
}

.bouton p {
  margin: 0;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}

/* Styles du texte du bouton communs aux 2 modes lorsque l'on survole */
.bouton:hover p {
  font-weight: normal;
  font-size: 1.9rem;
}

/* Styles communs au bouton pour les 2 modes */
.bouton {
  width: 15rem;
  height: 6rem;
  border-radius: 2rem;
  box-sizing: border-box;
  /* change le curseur pour simuler que le bouton est cliquable */
  cursor: pointer;
}

/* Styles du bouton pour le mode Light */
.boutonLight {
  color: black;
  border: 0.2rem solid rgb(144, 147, 163);
  box-shadow: 0 1rem 1rem 0 rgb(0, 0, 0, 0.3);
  background: linear-gradient(rgb(99, 99, 110), rgb(59, 61, 70));
}

/* Styles du bouton pour le mode Light lorsque l'on survole */
.boutonLight:hover {
  color: rgb(20, 20, 20);
  border: 0.4rem solid rgb(182, 184, 194);
  box-shadow: 0 1rem 1rem 0 rgb(0, 0, 0, 0.1);
  background: linear-gradient(rgb(119, 119, 130), rgb(79, 81, 90));
}

/* Styles du bouton pour le mode Dark */
.boutonDark {
  color: rgb(235, 235, 235);
  border: 0.2rem solid rgb(208, 208, 211);
  box-shadow: 0 0.8rem 1rem 0 rgb(255, 255, 255, 0.4);
  background: linear-gradient(rgb(179, 179, 179), rgb(70, 70, 70));
}

.boutonDark:hover {
  color: white;
  border: 0.4rem solid rgb(228, 228, 231);
  box-shadow: 0 0.4rem 1rem 0 rgb(255, 255, 255, 0.3);
  background: linear-gradient(rgb(199, 199, 199), rgb(90, 90, 90));
}


/* Styles du Header */


.header {
  border-bottom: 0.4rem solid rgb(179, 179, 179);
  border-radius: 0 0 2rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header h1 {
  background-color: rgb(24, 23, 21);
  border-radius: 0 0 2rem 2rem;
  color: rgb(235, 235, 235);
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
  text-shadow: -0.1rem 0.1rem 0.2rem #E0E0E0;
  padding-bottom: 0.2rem;
}

/* taille de la bordure augmenté pour compenser du padding au survol et faire un effet */
.header:hover {
  border-bottom: 0.6rem solid rgb(179, 179, 179);
}

.header h1:hover {
  background-color: rgb(14, 13, 11);
  border-radius: 0 0 2rem 2rem;
  text-shadow: none;
  padding: 0;
}

/* Styles de la page des projets */

.projetsContainer {
  margin: 12rem 3rem 0 3rem;
}

.projetsContainer hr {
  margin: 0 4rem 4rem 4rem;
  border: 0.2rem solid rgb(83, 83, 92);
  background-color: rgb(83, 83, 92);
  border-radius: 2rem;
  box-shadow: 0.2rem 0.2rem 0.5rem black;
}

/* boutons de la page projets ET details projets*/

.boutonProjets button {
  display: inline-block;
  width: 100%;
  border: 0.5rem solid rgb(144, 147, 163);
  background-color: #444751;
  border-radius: 5rem;
  box-shadow: 0 1rem 1rem 0 rgb(0, 0, 0, 0.3);
  background: linear-gradient(rgb(99, 99, 110), rgb(59, 61, 70));
  box-sizing: border-box;
  margin-bottom: 4rem;
}

.boutonProjets h1 {
  font-size: 4rem;
  padding: 1rem 0;
  color: rgb(235, 235, 235);
}

.boutonProjets button:hover {
  border: 0.5rem solid rgb(164, 167, 183);
  background-color: #585b65;
  box-shadow: 0 0.5rem 0.5rem 0 rgb(0, 0, 0, 0.1);
  background: linear-gradient(rgb(119, 119, 130), rgb(79, 81, 90));
  cursor: pointer;
}

.boutonProjets h1:hover {
  color: white;
}

/* page des details de projets */

.detailsProjetsContainer {
  /* le positionnement et le z-index permette de passer le contenu (texte + image) par dessous le header lors du scroll (de base, il passe par dessus et cache le header */
  position: relative;
  z-index: -1;
}

.detailsProjetsContainer h1,
h2,
h3,
p {
  margin: 0;
  color: white;
}

.detailsProjetsContainer h1,
.detailsProjetsContainer h2, h3 {
  text-align: center;
  font-weight: bold;
  margin: 2rem 0;
}

.detailsProjetsContainer .titreProjet h1 {
  font-size: 8rem;
}

.detailsProjetsContainer h2 {
  font-size: 6rem;
}

h3 {
margin-top: 5rem;
}

h3,
.detailsProjetsContainer .listTechno {
  font-size: 2.5rem;
}

.detailsProjetsContainer p {
  text-align: justify;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.detailsProjetsContainer .listTechno {
  text-align: end;
  padding: 1rem 1rem 0 0;
}

.detailsProjetsContainer img {
  width: 100%;
}

.detailsProjetsContainer .boutonProjets h1 {
  margin: 0;
}













/* Styles du Footer */

.footer {
  padding: 1rem 2rem;
  background-color: rgb(24, 23, 21);
  color: rgb(235, 235, 235);
  border-top: 0.4rem solid rgb(14, 13, 11);
}

/* .footer a {
  text-decoration: none;
  color: rgb(235, 235, 235);
} */

.footer img {
  width: 3rem;
  height: 3rem;
  margin: 0.5rem;
  border-radius: 10rem;
}

/* pour les ecran superieur au mobile */
@media screen and (min-width: 576px) {}

/* pour les ecran superieur au mobile ET tablettes */
@media screen and (min-width: 992px) {

  /* header */

  .header {
    /* retire le positionnement de la barre pour les grands ecrans */
    /* ainsi, le header ne reste pas lors du scroll */
    position: relative;
  }

  /* Page des projets */

  .projetsContainer {
    margin: 4rem 8rem 0 8rem;
  }

  /* rajoute un espacement sur les cotés pour dissocier le 2 parties */
  .projets1er .boutonProjets {
    margin: 0 8rem;
  }

  .projets1er {
    margin-bottom: 4rem;
  }

  /* retire la barre hr lorsque l'ecran est plus grand que le telephone */
  .projetsContainer hr {
    display: none;
  }

  /* page des details de projets */

  .detailsProjetsContainer .description {
    flex-direction: row-reverse;
  }

  .boutonRedirection .boutonProjets {
    margin: 0 4rem;
  }













  /* footer */

  /* padding un peu plus grand sur les ecrans au dessus du tel */
  .footer {
    padding: 1.5rem 5rem;
  }

  .footer .copyright {
    font-size: 2rem;
  }
}